h1 {
  color: red;
  font-style: italic;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blog {
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
}
